<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/default.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <title>JSQuiz</title>
</head>
<body>
    <h1>Create a JSQuiz</h1>
    <a href="/">home</a>
    <br>
    <br>

    <div>
        <div>
            <table>
                <tr>
                    <td><label for="quiz title"> Quiz Title: </label></td>
                    <td><input type="text" placeholder="Best movies 2021"></td>
                </tr>
                <tr>
                    <td><label for="quiz title"> Category: </label></td>
                    <td><input type="text" placeholder="Cinema"></td>
                </tr>
            </table>

            <!-- Question 1 -->
            <div>
                <br>
                <br>
                <table>
                    <tr>
                        <td><label for="question">Question 1: </label></td>
                        <td><input type="text" placeholder="Title"></td>
                    </tr>
                    <tr>
                        <td><label for="answers"></label></td>
                        <td><input type="text" placeholder="A"></td>
                    </tr>
                    <tr>
                        <td><label for="answers"></label></td>
                        <td><input type="text" placeholder="B"></td>
                    </tr>
                    <tr>
                        <td><label for="answers"></label></td>
                        <td><input type="text" placeholder="C"></td>
                    </tr>
                </table>
            </div>
            <br>
            <br>

            <!-- Question 2 -->
            <div>
                <br>
                <br>
                <table>
                    <tr>
                        <td><label for="question">Question 2: </label></td>
                        <td><input type="text" placeholder="Title"></td>
                    </tr>
                    <tr>
                        <td><label for="answers"></label></td>
                        <td><input type="text" placeholder="A"></td>
                    </tr>
                    <tr>
                        <td><label for="answers"></label></td>
                        <td><input type="text" placeholder="B"></td>
                    </tr>
                    <tr>
                        <td><label for="answers"></label></td>
                        <td><input type="text" placeholder="C"></td>
                    </tr>
                </table>
            </div>
            <br>
            <br>

            <!-- Question 3 -->
            <div>
                <br>
                <br>
                <table>
                    <tr>
                        <td><label for="question">Question 3: </label></td>
                        <td><input type="text" placeholder="Title"></td>
                    </tr>
                    <tr>
                        <td><label for="answers"></label></td>
                        <td><input type="text" placeholder="A"></td>
                    </tr>
                    <tr>
                        <td><label for="answers"></label></td>
                        <td><input type="text" placeholder="B"></td>
                    </tr>
                    <tr>
                        <td><label for="answers"></label></td>
                        <td><input type="text" placeholder="C"></td>
                    </tr>
                </table>
            </div>
            <br>
            <br>

            <button>Submit</button>
        </div>
    </div>

    <script src="../scripts/create.js"></script>


</body>
</html>