<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/default.css">
    <title>JSQuiz</title>
</head>
<body>

    <h1>JSQuiz</h1>

    <nav class="menu">
        <a href="/create">Create a quiz</a>
        <a href="https://github.com/frederikblais/JSQuiz" target="_blank">GitHub</a>
    </nav>
    <br>

    <h3>Search</h3>
      <form method="POST" action="/getQuiz">
          <div>
              <label>By Title:</label>
              <input type="text" name="quiz_title" />
              <br>
              <br>
          </div>
          <div>
              <input type="submit" value="Search"/>
          </div>
      </form>
      <br>

    <h3>Quizes</h3>
    <table>
      <thead>
        <th>Title</th>
        <th>Category</th>
        <th>Tried</th>
        <th></th>
    </thead>
    {{#questions}}
    <tr>
        <td>{{quiz_title}}</td>
        <td>{{quiz_category}}</td>
        <td></td>
        <td><button>Start</button></td>
    </tr>
    {{/questions}}
    </table>

    <h3>Create a Quiz</h3>
    <a href="/create">
      <button>+</button>
    </a>
    <br>
</body>
<footer>
  <p>Made by: Frederik Blais</p>
</footer>
</html>