<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/default.css">
    <title>JSQuiz</title>
</head>
<body>

    <h1>Welcome to JSQuiz</h1>

    <nav class="menu">
        <a href="#">All quiz</a>
        <a href="#">Create a quiz</a>
        <a href="#">GitHub</a>
    </nav>
    <br>

    <h2>Popular quizes</h2>
    <table>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Tried</th>
          <th></th>
          <th></th>
        </tr>
        {{#quiz}}
        <tr>
          <td>{{quiz_name}}</td>
          <td>{{categoty}}</td>
          <td>{{tried}}</td>
          <td><button>ok</button></td>
          <td><button>cancel</button></td>
        </tr>
        {{/quiz}}
      
      </table >

</body>
</html>